* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-box {
    width: 800px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.login-top {
    padding: 10px 20px;
    background-color: #2c3e64;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.login-top .title i {
    background-color: #2e72cb;
    padding: 5px;
    border-radius: 2px;
}
.login-top .title span {
    font-size: 20px;
}
.login-top .icon {
    display: flex;
    align-items: center;
    gap: 10px;
}
.login-top .icon img {
    width: 40px;
    border-radius: 50%;
}
.login-body {
    padding: 75px;
    display: flex;
    min-height: 400px;
    align-items: center;
    justify-content: center;
    background-color: #f6f4fb;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: -20px;
}
.card {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    padding: 20px 30px;
    border-radius: 5px;
}
.card h2,
p {
    color: #344979;
    text-align: center;
}
.card p {
    margin-bottom: 15px;
}
.card p:nth-last-child(1) {
    margin-top: 15px;
    color: #587fb3;
}
.card .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.card .form-group i {
    padding: 5px;
    background-color: #2e72cb;
    color: #fff;
    height: 35px;
    width: 35px;
    text-align: center;
    border-radius: 5px 0 0 5px;
    line-height: 25px;
}
.card .form-group input {
    height: 35px;
    border-radius: 0 5px 5px 0;
    width: 300px;
    padding: 0 5px;
    border: 1px solid #587fb353;
    outline: none;
    color: #344979;
    font-size: 16px;
}
.btn {
    background-color: #46a442;
    width: 335px;
    height: 35px;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}
.info {
    padding: 10px;
    text-align: center;
    width: 75%;
    margin: 10px auto;
    margin-bottom: 0;
    background: #f97474;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info p {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 18px;
}
.info i {
    padding: 10px 12px;
    border-radius: 50%;
    background-color: #faa3a3;
    color: white;
}

.hidden {
    display: none;
}
.info .close-info:hover {
    cursor: pointer;
}
